body{
font-family: Arial;
background:#0f1115;
color:white;
margin:0;
}

header{
background:#151821;
padding:15px;
text-align:center;
}

nav{
background:#1b1f2a;
padding:10px;
text-align:center;
}

nav button{
margin:5px;
padding:10px 15px;
background:#2a2f3d;
color:white;
border:none;
cursor:pointer;
}

.hidden{display:none;}

.container{
padding:20px;
}

input,select,button{
display:block;
margin:10px 0;
padding:10px;
width:100%;
max-width:300px;
background:#1b1f2a;
color:white;
border:1px solid #333;
}